header{
    height: 150px;
    background-color: rgb(247,247,247);
    text-align: center;
    padding-top: 20px;
    color: gray;
}
/*header span{*/
    /*padding: 10px 20px;*/
    /*border: solid 3px gainsboro;*/
/*}*/